/* .error {
    color: red;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.innercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    height: 220px;
    border-radius: 5px;
}

.btn {
    margin-top: 20px;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
} */